h3 {
  /* center h3 */
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  color: #000000;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}
.book-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 0 5rem;
}
.book-card {
  margin: 1rem auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.book-card img {
  width: 100%;
  height: 60%;
}
@media (max-width: 1268px) {
  .book-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .book-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .book-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
