.sidebar {
    background-color: #f4f4f4;
    width: 200px;
    padding: 20px;
    position: sticky;
    top: 0;
   
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333;
  }
  
  .sidebar a:hover {
    color: #000;
  }
  