@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}
:root {
  --maincolor: #5767aa;
  --secondarycolor: #db2b39;
  --textcolor: #eee;

  --primary: #007fff;
  --secondary: #6f7e8c;
  --box: #f5f5f5;
  --text: #212121;
}
body {
  background: #f6f5f7;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.sign-up-form {
  width: 25%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 10% auto;
  text-align: center;
  border-radius: 1rem;
  position: relative;
}
.backhome {
  background: #fff;
  position: absolute;
  top: 1rem;
  left: 0;
  margin: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--maincolor);
  cursor: pointer;
  border: 2px solid var(--maincolor);
  border-radius: 0.3rem;
  padding: 0.2rem;
}
/*  */
.sign-up-form h1 {
  color: var(--maincolor);
  margin-bottom: 30px;
}

.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  border: 1px solid #999;
  outline: none;
}

/* button { */

/* } */

.sign-btn {
  background-color: var(--maincolor);
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 20px;
  width: 80%;
}

.or {
  background: #fff;
  width: 30px;
  margin: -19px auto 10px;
}

.title {
  font-weight: bold;
  margin: 0;
}

.paragraph {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
